<p>
  <h1>User:</h1>
  <h2><%= link_to @user.name, user_questions_path(@user.id) %></h2>
</p>
<p>
	<%= render 'shared/stats' %>
</p>

<p>
	<%= render 'follow_form' if logged_in? %>
</p>
 
<% if current_user?(@user) %>
	<h2>Add a question:</h2>
	<%= render 'questions/form' %>
<% end %>
 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>